<template>
	<main :class="{'dark' : theme}">
		<Header></Header>
		<div class="group">
			<OrderList></OrderList>
			<DeliveryList></DeliveryList>
		</div>
		<Footer></Footer>
	</main>
</template>

<script>

import Header from "./components/Header.vue";
import OrderList from "./components/OrderList.vue";
import DeliveryList from "./components/DeliveryList.vue";
import Footer from "./components/Footer.vue";
export default {
	name: 'Orders',
	components: {
		Header,
		OrderList,
		DeliveryList,
		Footer
	},
	computed : {
		theme(){
			return this.$store.state.isDarkTheme;
		}
	}
}
</script>
<style scoped>
main{
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.group{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.dark{
	background-color: black;
}
</style>