<template>
    <section :class="{'dark' : theme}" @drop="drop_handler" @dragover="dragover_handler">
        <h2><span @click="refresh">
            <img src="../assets/icons/refresh.png" alt="" v-if="!theme">
            <img src="../assets/icons/refreshw.png" alt="" v-else></span>Отгрузки <span></span></h2>
        <div class="deliveries">
            <DeliveryItem
                v-for:= "delivery in deliveries"
                :id="Number(delivery.id)" 
                :order_id="Number(delivery.order_id)"
                :created="delivery.created_at"
            >
        </DeliveryItem>
    </div>
    </section>
</template>
<script>
import DeliveryItem from "./DeliveryItem.vue";
export default {
    components: {
        DeliveryItem
    },
    data(){
        return {
        }
    },
    methods : {
        refresh(){
            this.$store.dispatch("getDeliveries");
        },
        drop_handler(ev){
            ev.preventDefault();
            let id = ev.dataTransfer.getData("text/plain");
            this.delivery(id);
            console.log(2)
        },
        dragover_handler(ev){
            ev.preventDefault();
            console.log(3)
        },
        delivery(id){
            this.$store.dispatch("delivery", id);
        }
    },
    mounted(){
        this.refresh();
    },
    computed : {
        deliveries(){
            return this.$store.state.deliveries;
        },
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
 
}
</script>
<style scoped>
section{
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    height: 65vh;
    margin-right: 20px;
}
section>h2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 0;
}
h2>span>img{
    width: 30px;
    height: 30px;
}
.deliveries{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 100%to;
}
.dark{
    background-color: black;
    border-color: white;
    color: white;
}
</style>