<template>
    <div class="delivery" :class="{'dark' : theme}">
        <div>
            <span>Отгрузка #{{id}}</span>
            <span class="little">Заказ #{{order_id}}</span>
        </div>
        <div>
            <span>{{created_date}}</span>
            <div class="more" @click="menu = !menu" :class="{'dark' : theme}">
                <img src="../assets/icons/more.png"  alt="more" v-if="!theme">
                <img src="../assets/icons/morew.png"  alt="more" v-else>
                <div :class="['more-menu', {'active' : menu}]">
                    <div class="more-menu-option red" @click="remove">Отменить</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            menu : false
        }
    },
    props: {
        id: Number,
        order_id : Number,
        created : Number
    },
    methods : {
        remove(){
            this.$store.dispatch("removeDelivery", this.id);
        }
    },
    computed : {
        created_date(){
            let date = new Date(this.created);
            return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
        },
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
    
}
</script>
<style scoped>
    .delivery{
        width: 300px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid black;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .delivery>span{
        margin-left: 10px;
    }
    .delivery>div{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 10px;
    }
    .more{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .more>img{
        width: 80%;
        height: 80%;
    }
    .more-menu{
        width: 150px;
        flex-direction: column;
        align-items: center;
        position: fixed;
        margin-top: 100px;
        margin-right: 100px;
        background-color: white;

        display: none;
    }
    .more-menu.active{
        display : flex;
    }
    .more-menu-option{
        width: 150px;
        height: 30px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .green{
        color: green;
    }
    .red{
        color: red;
    }
    .little{
        font-size: 12px;
    }
    .dark{
    background-color: black;
    border-color: white;
    color: white;
}
</style>