<template>
<footer :class="{'dark' : theme}">
    <p class="f">Борисенков Сергей Михайлович, 211-323</p>
    <div class="scroll-top-group">
        <a href="#">Scroll to top
            <div class="cont" :class="{'dark' : theme}">
                <img src="../assets/icons/arrow.png"  alt="arroww" v-if="!theme">
                <img src="../assets/icons/arroww.png"  alt="arroww" v-else>
            </div>
        </a>
    </div>
</footer>
</template>
<script>
export default {
     computed : {
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
}
</script>
<style scoped>
footer{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}
.scroll-top-group{
    display: flex;
    align-items: center;
}
.cont{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 25px;
    height: 25px;
    text-align: center;
}
a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(51, 210, 221);
}
.dark{
    background-color: black;
    border-color: white;
    color: white;
}
</style>