<template>
    <header :class="{'dark' : theme}">
        <div class="white-space"></div>
        <h1 :class="{'dark' : theme}">Vue order</h1>
        <div class="theme">
            <ThemeSwitcher></ThemeSwitcher>
        </div>
    </header>
</template>
<script>
import ThemeSwitcher from "./ThemeSwitcher.vue";
export default {
    components : {
        ThemeSwitcher
    },
    computed : {
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
}
</script>
<style scoped>
header {
    width: auto;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.dark{
    background-color: black;
    border-color: white;
    color: white;
}
header>.white-space{
    width: 190px;
}
header>h1{
    color: black;
    text-align: center;
}
</style>