<template>
    <div class="modal-wrapper" @keyup.esc="close" tabindex="0" @click="onclick" :class="{'dark' : theme}">
        <div class="modal-window"  :class="{'dark' : theme}" ref="modal-window">
            <div class="modal-window-head" :class="{'dark' : theme}">
                <div></div>
                <h4>Заказ #{{id}}</h4>
                <img src="../assets/icons/close.png" alt="" @click="close" v-if="!theme">
                <img src="../assets/icons/closew.png" alt="" @click="close" v-else>
            </div>
            <div class="modal-window-body" :class="{'dark' : theme}">
                <h4>Корзина</h4>
                <div class="items" :class="{'dark' : theme}">
                    <div class="item" v-for:="item in items">
                        <p>{{item.name}}</p>
                        <div class="item-price">
                            <p>{{item.quantity}}</p>
                            <p>{{item.price}}  руб.</p>
                        </div>
                    </div>
                </div>
                <div class="total" :class="{'dark' : theme}">
                    <div class="total-price">
                        Итого: {{total}} руб.
                    </div>
                </div>
                <div class="buttons" :class="{'dark' : theme}" >
                    <div class="button green" @click="delivery" :class="{'dark' : theme}">К отгрузке</div>
                    <div class="button red" @click="remove" :class="{'dark' : theme}">Отменить</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        id : Number,
        items : Array,
        total : Number
    },
    data(){
        return {
            active : true
        }
    },
    methods: {
        close(){
            this.active = false;
            this.$emit("close");
        },
        onclick(event){
            if (!this.$refs["modal-window"].contains(event.target)){
                this.close()
            }
        },
        delivery(){
            this.$store.dispatch("delivery", this.id);
        },
        remove(){
            this.$store.dispatch("removeOrder", this.id);
            this.close();
        }
    },
    mounted(){
        document.addEventListener("keydown", (e) => {
            if (e.code == "Escape") {
                this.$emit('close');
            }
        });
    },
    computed : {
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
}
</script>
<style scoped>
    h4{
        margin: 0;
    }
    .modal-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-wrapper.dark{
        background: rgba(255, 255, 255, 0.5);
    }
    .modal-window{
        width: 500px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 20px;
    }
    .modal-window-head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .modal-window-head>img{
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .items{
        border: 1px solid black;
    }
    .item{
        width: 450px;
        height: 50px;
        border: 1px solid black;
        display: flex;
        align-items: center;
    }
    .item>p{
        width: 70%;
    }
    .item-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    .total{
        width: 450px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .total-price{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    .buttons{
        display : flex;
        justify-content: space-between;
    }
    .button{
        width: 200px;
        height: 30px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
    .green{
        color: green;
    }
    .red{
        color: red;
    }
    .dark{
        background-color: black;
        border-color: white;
        border-color: white;
    }
</style>