<template>
    <div class="order" :class="{'dark' : theme}" draggable="true" @dragstart="ondragstart($event)">
        <span>Заказ #{{title}}</span>
        <div>
            <span>{{price}}</span>
            <div class="more" @click="menu = !menu" :class="{'dark' : theme}">
                <img src="../assets/icons/more.png"  alt="more" v-if="!theme">
                <img src="../assets/icons/morew.png"  alt="more" v-else>
                <div :class="['more-menu', {'active' : menu}, {'dark' : theme}]">
                    <div class="more-menu-option" @click="modalActive = true">Подробнее</div>
                    <div class="more-menu-option green" @click="delivery">К отгрузке</div>
                    <div class="more-menu-option red" @click="remove">Отменить</div>
                </div>
            </div>
        </div>
        <Modal v-if="modalActive" @close="modalActive = false" :id="title" :total="price" :items="items" ref="modal"></Modal>
    </div>
</template>
<script>
import Modal from "./Modal.vue";
export default {
    components : {
        Modal
    },
    data(){
        return {
            menu : false,
            modalActive : false
        }
    },
    props: {
        title: Number,
        price: Number,
        items : Array
    },
    methods : {
        delivery(){
            this.$store.dispatch("delivery", this.title);
        },
        remove(){
            this.$store.dispatch("removeOrder", this.title);
        },
        ondragstart(ev){
            ev.dataTransfer.setData("text/plain", this.title);
        }
    },
    computed : {
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
}
</script>
<style scoped>
    .order{
        width: 300px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid black;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .order>span{
        margin-left: 10px;
    }
    .order>div{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 10px;
    }
    .more{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .more>img{
        width: 80%;
        height: 80%;
    }
    .more-menu{
        width: 150px;
        flex-direction: column;
        align-items: center;
        position: fixed;
        margin-top: 150px;
        margin-right: 100px;
        background-color: white;

        display: none;
    }
    .more-menu.active{
        display : flex;
    }
    .more-menu-option{
        width: 150px;
        height: 30px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .green{
        color: green;
    }
    .red{
        color: red;
    }
    .dark{
        background-color: black;
        border-color: white;
        color: white;
        border: 1px solid white;
    }
    .dark>.more-menu-option{
        border: 1px solid white;
    }
</style>