<template>
    <section :class="{'dark' : theme}">
        <h2><span></span> Заказы <span @click="refresh">
            <img src="../assets/icons/refresh.png" alt="" v-if="!theme">
            <img src="../assets/icons/refreshw.png" alt="" v-else>
        </span></h2>
        <div class="orders">
            <OrderItem
            v-for:= "order in orders"
            :title="order.id" 
            :price="order.total"
            :items="order.basket_items">
            </OrderItem>
        </div>
    </section>
</template>
<script>
import OrderItem from "./OrderItem.vue";
export default {
    components: {
        OrderItem
    },
    data(){
        return {
            
        }
    },
    mounted(){
        this.refresh();
    },
    methods : {
        refresh(){
            this.$store.dispatch("getOrders");
        }
    },
    computed : {
        orders(){
            return this.$store.state.orders;
        },
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
}
</script>
<style scoped>
section{
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    height: 65vh;
    margin-left: 20px;
}
section>h2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 0;
}
h2>span>img{
    width: 30px;
    height: 30px;
}
.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.dark{
    background-color: black;
    border-color: white;
    color: white;
}
</style>
