<template>
    <div class="theme">
        <p>Темная тема</p>
        <div class="switcher" :style="{justifyContent : (theme) ? 'flex-end' : 'flex-start', borderColor : theme ? 'white' : 'black'}">
            <p v-if="theme">on</p>
            <div class="switcher-el" @click="switchTheme" :style="{backgroundColor : theme ? 'white' : 'black'}"></div>
            <p v-if="!theme">off</p>
        </div>
    </div>
</template>
<script>
export default {
    methods : {
        switchTheme(){
            this.$store.commit("setTheme");
        }
    },
    computed : {
        theme(){
            return this.$store.state.isDarkTheme;
        }
    }
}
</script>
<style scoped>
.theme{
    display: flex;
    gap: 10px;
}
.dark{
    background-color: black;
    border-color: white;
    color: white;
}
.switcher{
    width: 80px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.switcher-el{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    cursor: pointer;
}
</style>